body {
 height: 100%; 
}

#counterBox {
  text-align: center;
}

#counter {
  font-size: 80pt;
}

.day-container {
  height: 100%;
}

.day-content {
 text-align: center;
}

.day-control {
  width: 100%; 
}

